//video 4

%btn{
    background: #777;
    border: 1px solid #ccc;
    font-size: 1em;
    text-transform: uppercase;
}

.btn-a{
    @extend %btn;
}

.btn-b {
    @extend %btn;
    background: #ff0;
}

.content {
    border: 1px solid #ccc;
    padding: 20px;
    h2 {
        font-size: 3em;
        margin: 20px 0;
    }
}
.callout {
    @extend .content;
    background: #ddd;
}