//Video 1

// Sass allows single line comments with //

//import in Sass happens during compilation
//By importing a partial, the .css file of buttons isn't created
@import 'buttons';

.content {
    border: 1px solid ccc;
    padding: 20px;
    h2 {
        font-size: 3em;
        margin: 20px 0;
    }
    p {
        font-size: 1.5em;
        margin: 15px 0;
    }
    
    .callout {
        border-color: red;
    }
    &.callout {
        border-color: red;
    }
}

.btn {
    text: {
        decoration: underline;
        transform: lowercase;
    }
}

a {
   color: #999;
   &:hover {
       color: #777;
   }
   &:active {
       color: #777;
   }
}

.sidebar {
    float:right;
    width: 300px;
    .users & {
        width: 400px;
    }
    h2 {
        color: 777;
        .users & {
            color: 444;
        }
    }
}

