//Video 6
$font: normal 2em/1.5 Helvetica, sans-seriff; //Division won't trigger since / is a valid character in font
$family: "Helvetica " + "Nue"; // "Helvetica Nue"
$family: 'sans-' + seriff; //'sans-seriff'
$family: sans- + 'seriff';  //sans-seriff

h2 {
    font-size: 10px + 4pt;
}

h2 {
    line-height: ceil(1.2);
}

.sidebar {
    width: percentage (350px/1000px);
}

$context: 1000px;

.sidebar {
    width: percentage (350px/$context);
}

$color-base: #333333;
.addition {
    background: $color-base + #112233;
}
.substraction {
    background: $color-base - #112233;
}
.multiplication {
    background: $color-base  * 2;
}
.division {
    background: $color-base / 2;
}

.alpha {
    background : rgba($color-base, 0.8);
}
.beta {
    background : rgba(#000, 0.8);
}


$color: #333;

.lighten{
    color: lighten ($color, 20%);
}

.darken{
    color: darken ($color, 20%);
}

$color: #87bf64;
.saturate{
    color: saturate($color, 20%);
}
.desaturate{
    color: desaturate($color, 20%);
}
.mix-a {
    color: mix (#ffff00, #107fc9);
}

.mix-a {
    color: mix (#ffff00, #107fc9, 30%);
}
.grayscale {
    color: grayscale ($color);
}
.invert {
    color: invert ($color);
}
.complement {
    color: complement ($color);
}