//video 5

@function fluidize($target, $context){
    @return ($target/$context) * 100%;
}
.sidebar {
    width: fluidize(350px, 1000px);
}

$theme: dark;

header {
    @if theme == dark {
        background: #000;
    } @else if $theme == pink {
        background: pink;
    } @else {
        background: #fff;
    }
}

$authors: nick daimee dan drew;
//changed this since it was giving an error in my IDE.
//probably can ignore it, but wanted to be sure
@each $author in $authors{
    .author-#{$author} {
        $author_url: author-#{$author} + '.jpg';
        background: url($author_url);
    }
}

.item {
    position: absolute;
    right: 0;
    @for $i from 1 to 3 {
        &.item-#{$i} {
            top: $i * 30 px;
        }
    }
}

$i : 1;
.item {
   position: absolute;
   right: 0;
   @while $i < 4 {
       &.item-#{$i} {
            top: $i * 30 px;
        }
        $i: $i + 1;
   }
}


$i: 2;
.item {
   position: absolute;
   right: 0;
   @while $i <= 6 {
       &.item-#{$i} {
            top: $i * 30 px;
        }
        $i: $i + 2;
   }
}

@mixin button ($color, $rounded: true){
    color: $color;
    @if ($rounded == true){
        border-radius: 4px;
    }
}

.btn-a {
    @include button (#000, false);
}

.btn-b {
    @include button (#333);
}


@mixin button ($color, $rounded: false){
    color: $color;
    @if $rounded {
        border-radius: $rounded;
    }
}

.btn-a {
    @include button (#000);
}

.btn-b {
    @include button (#333, 4px);
}
