//Video 2
$base: #777777;

.sidebar {
    border: 1px solid base;
    p {
        color: $base;
    }
}

$title: 'My Blog';
$title: 'About me' !default;
h2:before {
    content: $title;
}
$color-base: #777777;
.sidebar {
    $color-base: #222222;
    background: $color-base;
}
.p {
    //$color-base = #222222;
    color: $color-base;
}

$side : top;
sup {
    position: relative;
    #{$side}: 0.5em;
}

callout-#{$side} {
    background: #777;
}