//Video 3
@mixin button {
    border: 1px solid #ccc;
    font-size: 1em;
    text-transform: uppercase;
}
.btn-a {
    @include button;
    background: #777;
}

.btn-b {
    @include button;
    background: #ff0;
}


@mixin box-sizing ($x : border-box){
    -webkit-box-sizing: $x;
    -moz-box-sizing: $x;
    box-sizing: $x;
}

.content {
    @include box-sizing;
    border: 1px solid #ccc;
    padding: 20px;
}

.callout {
    @include box-sizing(content-box);
}

@mixin button ($radius, $color: #000){
    border-radius: $radius;
    color: #color;
}
.btn-a {
    @include button($color : #777777, $radius: 5px);
}

@mixin transition ($val...){
    -webkit-transition: $val;
    -moz-transition: $val;
    transition: $val;
}
.btn-a {
    @include transition(color 0.3s ease-in, background 0.5s ease-out);
}

@mixin highlight ($color, $side){
    border-#{$side}-color: $color;
}