//Video 7
.sidebar {
    border: 1px solid #ccc;
    @media (min-width: 700px){
        float:right;
        width: 30%;
    }
}

@mixin respond-to ($val, $query) {
    @media ($val: $query){
        @content
    } 
}

.sidebar {
    border: 1px solid #ccc;
    @include respond-to(max-width, 600px){
        float:right;
        width: 30%;
    }
}